@font-face                { font-family: 'Intro'; src: url('../fonts/Intro-Regular.ttf'); }
@font-face                { font-family: 'IntroLight'; src: url('../fonts/Intro-Light.ttf'); }

h1                        { margin: 15px 0; padding: 15px 0; text-shadow: 0 1px 1px #fff; font-family: 'IntroLight', sans-serif; }

/* Header */
div.sf-logo        { margin: 65px auto 0; width: 200px; }
div.sf-logo svg    { margin: 0 auto; display: block; }
div.sf-logo h1     { margin: 0; font-size: 60px; text-align: center; }
